/* body{
    background: rgba(255, 248, 243, 1);
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo h1{
    font-size: 45px;

}
.color-orange{
    color:orange;
    font-weight: 900;
}
.open-font-sance {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
     background-color:rgba(255, 248, 243, 1);
    background: url("../images/developer.png"),url("../images/header_bg.png"),
    rgba(255, 248, 243, 1);
    background-repeat: no-repeat;
    background-position: bottom right;
 
    padding-top:50px ; 
    
  
}

   

nav{
    width:71%;
    max-width: 1140px;
    border: 2px ;
    margin: 0px auto;
    display: flex;
    justify-content:space-between;
}

nav .menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}
nav .menu a{
    align-items: center;
    color: #474747;
    text-align: center;
    text-decoration: none;
}

.btn{
    background-color:#FD6E0A;
    padding: 18px 35px;
    font-size: 20px;
    font-weight:bold;
    color:white; 
    border-radius: 5px;
    cursor: pointer;
   
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h4{
    font-size: 35px;
    width: bold;
    color:#181818;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    align-items: center;
    color:#757575;
}

#banner{
    border: 1px ;
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
     /* background-color:rgba(255, 248, 243, 1); */
}
#banner .banner-contant{
     max-width: 600px; 
    }
#banner .banner-contant h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-contant h1{
    font-size: 85px;
    font-weight: bold;
    color:#181818; 
    margin: 20px;
   
}
#banner .banner-contant p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner.banner-images{
    max-width: 585px;
vertical-align: middle;

   
}
#about, #skill, #resume{
    padding-top: 130px;
} 
#about .about-container{
    max-width: 71%;
    width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color:#FFF8F3;
    padding: 131px 156px;
}
.btn-group{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .card-info p{
     font-size: 20px;
    color: #757575;
    line-height: 30px;
}
.about-info .card-info h4{
    font-size: 20px;
}


#skill .skill-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;       /* কন্টেইনারটিকে স্ক্রিনের মাঝখানে রাখার জন্য */
    text-align: center;
}
.skill-container .heading-section{
    padding-right:172px ;
    padding-left: 142px;
}
.skill-container .heading-section h2{
     font-size: 35px; 
}
.skill-container .heading-section p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
}
#skill .skill-container .skill-boxs{
    display: flex;
    gap: 24px;
   
}
.skill-boxs .skill-card{
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #00000020 ;
    max-width: 267px;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h2{
    font-size: 20px;
    margin-bottom: 20px;
}
.skill-card p{
   font-size: 16px;
   color: #757575;
   margin-bottom: 30px;
   
  
}

#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container .section-title{
    font-size: 30px;
    margin-bottom: 30px;
    color: #757575
}
.resume-container hr{
    margin: 30px 0;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card h3{
    font-size: 25px;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-info{
    font-size: 20px;
    width: 600;
    margin-bottom: 10px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 16px;
    margin-bottom: 15px;
    color: #757575;
}
.button-center{
    text-align: center;
}

footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap:116px ;
    
}
.footer-container .social{
    max-width: 562px;
}
.footer-container .social h2{
    font-size: 35px;
    margin-bottom: 20px;

}
.footer-container .social p{
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;

}
.footer-container .icon a{
    margin-right: 24px;
}
.form h2{
    font-size: 35px;
    margin-bottom: 28px;
}

.footer-container form input[ type="text"] ,.footer-container form textarea
{
    width: 461px;
    padding:18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
}
.hide{
    display: none !important;
}
@media screen and (max-width:576px) {
    #skill .skill-container ,nav {
    width: 95%;
    
}
h2 {
    font-size: 30px;
}
  #about, #skill, #resume{
    padding-top: 60px;
} 
#about .about-container ,
.skill-container .heading-section{
    padding: 20px;
}
 #skill {
    padding-top: 50px;
} 
#about .about-container .about-info{
    gap: 40px;
}

#resume .resume-container{
    margin-top: 60px;
}
.resume-card{
    margin-right: 10px;
}

nav .menu{
    flex-wrap: wrap;
    justify-content: center;
}

#banner{
    margin: 20px;
    gap: 20px;
    text-align: center;
}
#banner .banner-contant h1{
    font-size: 44px;
}
#banner .banner-contant h2{
    font-size: 29px;
}
.btn-group{
    justify-content: center;
}
.btn{
    font-size: 18px;
}
#banner .banner-images img{
    width: 100%;

}


#skill .skill-container .skill-boxs ,
#about .about-container .about-info ,
#resume .resume-container ,
#banner{
    flex-direction: column;
}
.skill-boxs .skill-card{
    max-width: 100%;
}
    
}
@media screen and (max-width:576px) {
    footer .footer-container{
        width: 95%;
    }
    footer .footer-container{
        flex-direction: column;
    }
    .footer-container form input[ type="text"], .footer-container form textarea{
        width: 100%;
    }
    
}
